<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Auto">

    <test name="Package1">
        <classes>
            <class name="mobile.search.SearchTest"/>
            <class name="mobile.search.DownLoadTest"/>
            <class name="mobile.search.SwipeTest"/>
        </classes>
    </test>

</suite>